body{
    margin left:20px;
    font-family:"Lato",sans-serif;
    scroll-behavior:smooth;
    border:black solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
 p{
     padding:0;
     margin: 0;
 }

.navbar
{
    background-color: #08b2e5;
    width:100%;
    height:70px;
    position: sticky;
    top:0;
}

    

div{padding: 0;}
.logotext{
   
    padding:40px 0px 20px 20px;
    font-size: 1.5em;
    font-weight: bold;
    
    float:left;
}
.logo img{
 width:70px;
 height: 70px;
 background-color:#08b2e5 ;
 float:left;
}
 #section ul{
     padding: 0;
     margin: 0;
     }
#section li{
    float: left;
    list-style: none;
    padding:42px 0px 20px 90px;
    font-size: 1em;

}
#section li:hover{
    transform: translateY(-5px);
}
a{
    text-decoration:none;
    color:black;
    
}


 a:active{
    color:#99A3A4;
}
.break{
    clear:both;
}


.introtext{
   font-size: 1.2em;
   
   padding-left: 30px;
   padding-top: 20px;
   
}
 

.flex-container1 img{
   width:700px;
   height:350px;
   margin-left: 400px;
   margin-top: 30px;
   border: black solid;
}

   #Admin{
       color:black;
       font-size:3em;
      
       text-decoration: underline;

   }
   
   .flex-container2{
       display:flex;
       flex-direction:row;
   }
   .flex-container2>div{
    border:#08b2e5 solid  ;
    width: 300px;
    height: 400px;
    max-width: 300px;
   font-size:1em;
}
.hari img{
    width: 300px;
    height: 200px;
    
    border-right: #08b2e5;

}
   
.text1{
    font-size:0.8em;
    padding-left: 10px;
    padding-bottom: 100px;  
  }  
  
  h2{
      font-size: 1.2em;
      padding:0;
      text-decoration: underline;
  } 
   
    




#Facilities{
    
    font-size: 3em;
    
    text-decoration: underline;
}
.flex-container3{
    display: flex;
    flex-direction: row;
}
.flex-container3>div{
       
       width: 500px;
       height: 500px;
       max-width: 300px;
       padding-left:50px;
      
   }
   .flex-container3 img{
       width:700px;
       height:500px;
   }
   .subtitle{
       
    font-size: 1.3em;

}
   
.container input[type=text],select,textarea{
    width: 100%;
  padding: 12px; 
 border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
 margin-top: 6px; 
 margin-bottom: 16px;
 
  }
  .container input[type=submit]
  {
      background-color: #08b2e5;
  }
  .container input[type=submit]:hover{
      background-color: #45a049;
  }
  .container{
      border: #080808;
      
  }
  #Footer{
    background-color: #08b2e5;
    width:100%;
    height:70px;
    
    
 
  }
  
  
 
  
      
